service: ${env:SERVICE}

frameworkVersion: "3"

provider:
  name: aws
  deploymentMethod: direct
  # REF: https://www.serverless.com/blog/container-support-for-lambda
  ecr:
    # In this section you can define images that will be built locally and uploaded to ECR
    images:
      appimage:
        path: ./
        file: Dockerfile
  stage: dev
  region: ap-southeast-1
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "lambda:InvokeFunction"
          Resource: "*"

functions:
  embeddings:
    image:
      name: appimage
      buildArgs:
        MODEL: ${env:MODEL}
    memorySize: ${env:MEMORY_SIZE}
    environment:
      MODEL: ${env:MODEL}
      NORMALIZE_EMBEDDINGS: ${env:NORMALIZE_EMBEDDINGS}
      TRANSFORMERS_CACHE: /tmp/transformer_cache
    timeout:
      900
      # https://www.serverless.com/framework/docs/providers/aws/guide/functions#lambda-function-urls
    url:
      # Allow CORS for all requests from any origin
      cors:
        allowedOrigins:
          - "*"
          #- https://url1.com
          #- https://url2.com
        allowedMethods:
          - POST
